@model IList<BuberBreakfast.Entities.BreakFast>
    <div>
        <div class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Start-Date
                    </th>
                    <th>
                        End-Date
                    </th>
                </tr>
                <tbody>
                    @foreach (var Breakfast in Model)
                    {
                        <tr>
                            <td>
                                @Breakfast.Id
                            </td>
                            <td>
                                @Breakfast.Name
                            </td>
                            <td>
                                @Breakfast.Description
                            </td>
                            <td>
                                @Breakfast.StartDateTime
                            </td>
                            <td>
                                @Breakfast.EndDateTime
                            </td>
                        </tr>
                    }
                </tbody>
            </thead>
        </div>
    </div>